---
interface Props {
  items: string[];
  direction?: 'left' | 'right';
  speed?: 'slow' | 'normal' | 'fast';
}

const { items, direction = 'left', speed = 'normal' } = Astro.props;

const speeds = {
  slow: '40s',
  normal: '20s',
  fast: '10s',
};

const animationDirection = direction === 'left' ? 'forwards' : 'reverse';
---

<div class="relative flex overflow-hidden w-full select-none gap-4 mask-image:linear-gradient(to_right,transparent,black_20%,black_80%,transparent)">
  <div 
    class="flex min-w-full shrink-0 gap-16 justify-around items-center whitespace-nowrap py-4 animate-scroll"
    style={{
        '--scroll-duration': speeds[speed],
        '--scroll-direction': animationDirection
    }}
  >
    {items.map((item) => (
      <div class="text-zinc-500 font-mono font-semibold text-sm uppercase tracking-widest flex items-center justify-center opacity-70 hover:opacity-100 transition-opacity" set:html={item} />
    ))}
  </div>
  <div 
    aria-hidden="true"
    class="flex min-w-full shrink-0 gap-16 justify-around items-center whitespace-nowrap py-4 animate-scroll"
    style={{
        '--scroll-duration': speeds[speed],
        '--scroll-direction': animationDirection
    }}
  >
    {items.map((item) => (
      <div class="text-zinc-500 font-mono font-semibold text-sm uppercase tracking-widest flex items-center justify-center opacity-70 hover:opacity-100 transition-opacity" set:html={item} />
    ))}
  </div>
</div>

<style>
  @keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  .animate-scroll {
    animation: scroll var(--scroll-duration) linear infinite;
    animation-direction: var(--scroll-direction) == 'reverse' ? reverse : normal;
  }
</style>
